.carousel {
    display: block;
    position: relative;
    background-color: #f1f1f1;;
}

.item {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    transition: opacity 0.5s ease-in-out;
    // transform: translateX(200px);
}

.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    display: inline;
    color: #6f7171;
    background-color: #f1f1f1;;
    border: 0;
    cursor: pointer;
    width: 30px;

    :hover {
        color: white;
        font-size: 15px;
    }
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    color: #6f7171;
    background-color: #f1f1f1;
    border: 0;
    cursor: pointer;
    width: 30px;

    :hover {
        color: white;
        font-size: 15px;
    }
}