.container {
    width: 66%;
    margin: auto;
    margin-bottom: 55px;

    span {
        color: #e8e6e3;
        cursor: pointer;
    }

    strong {
        color: #e8e6e3;
    }

    .mainTitle {
        padding: 40px 0;
        margin-bottom: 30px;


        p {
            width: 100%;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            color: #000;
        }
    }

    .mainDescription {
        border: solid 2px #a3a3a3;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-bottom: 35px;

        p {
            font-size: 18px;
            line-height: 25px;
            color: #808080;
        }
    }

    .rules {
        .item {
            border: dashed 2px #a3a3a3;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            padding-bottom: 35px;

            &:last-child {
                border-bottom: 0;
            }

            .title {
                font-size: 21px;
                font-weight: bold;
                margin: 30px 0;
            }

            ul {
                margin: 10px 0 10px 70px;
                font-size: 19px;

                li {
                    list-style: Circle;
                    line-height: 26px;
                }
            }

            .description {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }


}